<!DOCTYPE html>
<!--no pude hacerlo andar de ninguna manera-->
<!--<div class="row">
  <div class="col">
    <div
      id="navbar"
      class="list-group"
      [ngClass]="{ 'slide-in': isAnimated, 'slide-in_right': !isAnimated, 'hidden-content': hiddenContent,}"
    >
      <a class="list-group-item list-group-item-action" href="#About">About</a>
      <a class="list-group-item list-group-item-action" href="#Experience"
        >Experience</a
      >
      <a class="list-group-item list-group-item-action" href="#Projects"
        >Projects</a
      >
      <a class="list-group-item list-group-item-action" href="#Skills"
        >Skills</a
      >
      <a class="list-group-item list-group-item-action" href="#Certifications"
        >Certifications</a
      >
      <a class="list-group-item list-group-item-action" href="#Contact"
        >Contact</a
      >
    </div>
  </div>
</div>-->

<!--LIST GROUP NORMAL (SE SUPERPONE CUANDO ES CHICA LA PANTALLA)
<div class="row">
    <div class="col">
      <div
        id="navbar"
        class="list-group"
        [ngClass]="{ 'slide-in': isAnimated, 'slide-in_right': !isAnimated, 'hidden-content': hiddenContent,}"
      >
        <a class="list-group-item list-group-item-action" href="#About"
          >About</a
        >
        <a class="list-group-item list-group-item-action" href="#Experience"
          >Experience</a
        >
        <a class="list-group-item list-group-item-action" href="#Projects"
          >Projects</a
        >
        <a class="list-group-item list-group-item-action" href="#Skills"
          >Skills</a
        >
        <a class="list-group-item list-group-item-action" href="#Certifications"
          >Certifications</a
        >
        <a class="list-group-item list-group-item-action" href="#Contact"
          >Contact</a
        >
      </div>
    </div>
  </div>
-->

<!--  LIST GROUP HORIZONTAL, ESTA BUENO PERO CUANDO LA PANTALLA ES XS NO SE TERMINA DE VER TODAS LAS OPCIONES
  <div class="row">
    <div class="col">
      <div
        id="navbar"
        class="list-group list-group-horizontal fixed-top text-center"
        [ngClass]="{ 'slide-in': isAnimated, 'slide-in_right': !isAnimated, 'hidden-content': hiddenContent,}"
      >
        <a class="list-group-item list-group-item-action" href="#About"
          >About</a
        >
        <a class="list-group-item list-group-item-action" href="#Experience"
          >Experience</a
        >
        <a class="list-group-item list-group-item-action" href="#Projects"
          >Projects</a
        >
        <a class="list-group-item list-group-item-action" href="#Skills"
          >Skills</a
        >
        <a class="list-group-item list-group-item-action" href="#Certifications"
          >Certifications</a
        >
        <a class="list-group-item list-group-item-action" href="#Contact"
          >Contact</a
        >
      </div>
    </div>
  </div>-->

<!-- LA QUE HICE MANUALMENTE AL PRINCIPIO DE TODO SIN ENTENDER NADA
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <nav>
      <ul>
        <li><a href="#About">About</a></li>
        <li><a href="#Experience">Experience</a></li>
        <li><a href="#Projects">Projects</a></li>
        <li><a href="#Skills">Skills</a></li>
        <li><a href="#Certifications">Certifications</a></li>
        <li><a href="#Contact">Contact</a></li>
      </ul>
    </nav>
  </div>-->
<!-- EL QUE HABRE HECHO SEGUNDO
  <div
    id="navbar"
    class="list-group flex-column align-items-stretch p-3 col-sm-4 col-md-2 col-lg-2"
  >
    <a class="list-group-item list-group-item-action" href="#About">About</a>
    <a class="list-group-item list-group-item-action" href="#Experience"
      >Experience</a
    >
    <a class="list-group-item list-group-item-action" href="#Projects"
      >Projects</a
    >
    <a class="list-group-item list-group-item-action" href="#Skills">Skills</a>
    <a class="list-group-item list-group-item-action" href="#Certifications"
      >Certifications</a
    >
    <a class="list-group-item list-group-item-action" href="#Contact"
      >Contact</a
    >
  </div>-->

<!-- EL QUE HABRE HECHO 3ERO
  <div class="col-sm-4 col-md-2 col-lg-2">
    <nav
      id="navbar"
      class="nav navbar nav-pills navbar-light flex-column align-items-stretch p-3"
      [ngClass]="{ 'slide-in': isAnimated, 'slide-in_right': !isAnimated, 'hidden-content': hiddenContent,}"
    >
      <a class="nav-link" href="#About">About</a>
      <a class="nav-link" href="#Experience">Experience</a>
      <a class="nav-link" href="#Projects">Projects</a>
      <a class="nav-link" href="#Skills">Skills</a>
      <a class="nav-link" href="#Certifications">Certifications</a>
      <a class="nav-link" href="#Contact">Contact</a>
    </nav>
  </div>-->
