<!DOCTYPE html>

<div
  data-bs-spy="scroll"
  data-bs-target="#navbar"
  data-bs-offset="0"
  tabindex="0"
>
  <div class="container" id="Experience">
    <div class="row">
      <h2 class="title2">Experience</h2>
      <div class="experience1 row">
        <div class="title-and-enterprise">
          <h2>Titulo del puesto</h2>
          <span class="enterprise">Empresa</span>
        </div>
        <span class="date">Aug-2023 / Oct-2023</span>
        <p>
          1er párrafo descripción del puesto. (“Yo tengo mucha experiencia, pero
          todavía no tuve la posibilidad de trabajar en ningún lado”)
        </p>
        <p>2do párrafo para describir el puesto.</p>
      </div>
      <div class="experience2 row">
        <div class="title-and-enterprise">
          <h2>Titulo del puesto 2</h2>
          <span class="enterprise">Empresa</span>
        </div>
        <span class="date">Aug-2023 / Oct-2023</span>
        <p>1er párrafo descripción del puesto 2.</p>
        <p>2do párrafo para describir el puesto 2.</p>
      </div>
    </div>
  </div>
</div>
