.container {
  padding-top: 84px;
  padding-bottom: 20px;
}
.certifications {
  padding-top: 40px;
  padding-bottom: 40px;
}
/*img {
  /*width: 1000px;
  
  height: 800px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}*/
/*.certifications {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}*/
.carousel-item img {
  height: 700px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.carousel {
  width: 1072px;
}
