<!DOCTYPE html>
<div class="container-fluid">
  <header class="d-flex flex-wrap justify-content-center">
    <a
      href="/"
      class="d-flex align-items-center mb me-md-auto text-dark text-decoration-none"
    >
      <span class="logo fs-4">Falliot</span>
    </a>
    <ul class="nav nav-pills">
      <div class="list_categories">
        <li class="nav-item d-none d-md-block">
          <a class="nav-link about" href="#About">About</a>
        </li>
        <li class="nav-item d-none d-md-block">
          <a class="nav-link experience" href="#Experience">Experience</a>
        </li>
        <li class="nav-item d-none d-md-block">
          <a class="nav-link projects" href="#Projects">Projects</a>
        </li>
        <li class="nav-item d-none d-md-block">
          <a class="nav-link skills" href="#Skills">Skills</a>
        </li>
        <li class="nav-item d-none d-md-block">
          <a class="nav-link certifications" href="#Certifications"
            >Certifications</a
          >
        </li>
        <li class="nav-item d-none d-md-block">
          <a class="nav-link contact" href="#Contact">Contact</a>
        </li>
      </div>

      <li class="nav-item d-none">
        <!--no quiero que aparezca por ahora-->
        <div class="dark_mode">
          <a href="#" class="nav-link"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-moon"
              width="35"
              height="35"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="#ffffff"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"
              ></path></svg
          ></a>
        </div>
      </li>
      <li class="li_change_leng nav-item">
        <div class="change_leng">
          <a class="spanish text-decoration-none">Es</a>
          <span>&nbsp;|&nbsp;</span>
          <a class="english text-decoration-none">En</a>
        </div>
      </li>
      <div class="list_categories_dropdown">
        <div class="d-md-none">
          <li class="nav-item d-block d-md-none">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="simpleDropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-menu-2"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M4 6l16 0"></path>
                  <path d="M4 12l16 0"></path>
                  <path d="M4 18l16 0"></path>
                </svg>
              </button>
              <ul
                class="dropdown-menu dropdown-menu-dark"
                aria-labelledby="dropdownMenuButton2"
              >
                <li><a class="dropdown-item active" href="#About">About</a></li>
                <li>
                  <a class="dropdown-item" href="#Experience">Experience</a>
                </li>
                <li><a class="dropdown-item" href="#Projects">Projects</a></li>
                <li><a class="dropdown-item" href="#Skills">Skills</a></li>
                <li>
                  <a class="dropdown-item" href="#Certifications"
                    >Certifications</a
                  >
                </li>
                <li><a class="dropdown-item" href="#Contact">Contact</a></li>
              </ul>
            </div>
          </li>
        </div>
      </div>
    </ul>
  </header>
</div>
<!--<div class="row">
  <div class="col-sm-12 col-md-10 col-lg-10">
    <header class="header-content">
      <div class="logo">Falliot</div>
      <div class="redes">
        <ul class="list_social">
          <li>
            <a
              href="https://www.linkedin.com/in/fermin-alliot-350752251/"
              target="_blank"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-brand-linkedin"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
                ></path>
                <path d="M8 11l0 5"></path>
                <path d="M8 8l0 .01"></path>
                <path d="M12 16l0 -5"></path>
                <path d="M16 16v-3a2 2 0 0 0 -4 0"></path></svg
            ></a>
          </li>
          <li>
            <a href="https://github.com/Falliot00" target="_blank"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-brand-github"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
                ></path></svg
            ></a>
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-moon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"
              ></path>
            </svg>
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-language"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M4 5h7"></path>
              <path d="M9 3v2c0 4.418 -2.239 8 -5 8"></path>
              <path d="M5 9c0 2.144 2.952 3.908 6.7 4"></path>
              <path d="M12 20l4 -9l4 9"></path>
              <path d="M19.1 18h-6.2"></path>
            </svg>
          </li>
          <li>
            <div>
              <a class="text-[#6B7280] font-inter font-normal">Es</a>
              <span>|</span>
              <a class="text-white font-semibold font-inter">En</a>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="simpleDropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-menu-2"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M4 6l16 0"></path>
                  <path d="M4 12l16 0"></path>
                  <path d="M4 18l16 0"></path>
                </svg>
              </button>
              <ul
                class="dropdown-menu dropdown-menu-dark"
                aria-labelledby="dropdownMenuButton2"
              >
                <li><a class="dropdown-item active" href="#About">About</a></li>
                <li>
                  <a class="dropdown-item" href="#Experience">Experience</a>
                </li>
                <li><a class="dropdown-item" href="#Projects">Projects</a></li>
                <li><a class="dropdown-item" href="#Skills">Skills</a></li>
                <li>
                  <a class="dropdown-item" href="#Certifications"
                    >Certifications</a
                  >
                </li>
                <li><a class="dropdown-item" href="#Contact">Contact</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </header>
  </div>
</div>-->
